<br />
<h4 class="text-center"> Please enter password.</h4>


<form class="form-signin">
    <input type="password" id="inputPassword" class="form-control" placeholder="Type password here.." onkeyup="validatePassword()">
    <label class="text-danger" id="lblError"></label>
</form>

@section Scripts {
    <script type="text/javascript">
        // password validation function
        function validatePassword() {
            var newPassword = document.getElementById('inputPassword').value;
            //var regularExpression = /^(?=.*[0-9])(?=.*[!#$%^&*])[a-zA-Z0-9!#$%^&*]/;
            var regularExpression  = /^(?=.*[0-9])(?=.*[!@@#$%^&*])[a-zA-Z0-9!@@#$%^&*]/;
            var erroLabel = document.getElementById('lblError');
            if (!regularExpression.test(newPassword) || newPassword.length < 10) {
                erroLabel.classList.add("text-danger");
                erroLabel.classList.remove("text-success");
                erroLabel.innerHTML = 'Password must have  minimum 10 character length, with at least 1 numeric and 1 Non-alphanumeric character. ';
            }
            else {
                erroLabel.classList.add("text-success");
                erroLabel.classList.remove("text-danger");
                erroLabel.innerHTML = 'Valid Password !';
            }
        }

    </script>
}